---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

@import 'https://fonts.googleapis.com/css?family=Source+Code+Pro';



//
// Colors
// --------------------------------------------------

$black: #263238;
$white: #fff;
$mint: #69f0ae;
$magenta: #ff4081;
$gray: #f6f6f6;
$gray-dark: #b0bec5;
$red: #fc615d;
$blue: #40c4ff;
$yellow: #fdbc40;
$green: #35ca4a;


//
// Fonts
// --------------------------------------------------

$font-family-monospace: 'Source Code Pro', monospace;


// --------------------------------------------------
// Theme
// --------------------------------------------------


@-webkit-keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes headShake {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  6.5% {
    -webkit-transform: translateX(-6px) rotateY(-9deg);
    transform: translateX(-6px) rotateY(-9deg);
  }

  18.5% {
    -webkit-transform: translateX(5px) rotateY(7deg);
    transform: translateX(5px) rotateY(7deg);
  }

  31.5% {
    -webkit-transform: translateX(-3px) rotateY(-5deg);
    transform: translateX(-3px) rotateY(-5deg);
  }

  43.5% {
    -webkit-transform: translateX(2px) rotateY(3deg);
    transform: translateX(2px) rotateY(3deg);
  }

  50% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.headShake {
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: headShake;
  animation-name: headShake;
}



/* caret blink animation */
@keyframes blink {
  0% {
    opacity: 0;
	}
  100% {
    opacity: 1;
	}
}

input:focus,
select:focus,
textarea:focus,
button:focus, {
    outline: none;
}
[contenteditable="true"]:focus {
	outline: none;
		br {
			display: none;
		}
}

body {
	background: darken($black, 10%);
	color: $white;
	font-family: $font-family-monospace;
	-webkit-font-smoothing: antialiased;

}

.shake {
	animation: headShake ease-in 1s;
}

.system.system__bar {
	height: 30px;
	width: 100%;
	background: rgba(255, 255, 255, .8);
}

.bio {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

#console {
	text-alignt: left;
	border-radius: 5px;
	min-height: 1px;
	min-width: 70vw;
	max-height: 100vh;
	background: $black;
	transition: max-height .25s .35s linear, max-width .25s  linear, min-width .25s  .05s linear, min-height .25s linear;
	overflow: hidden;
	p, span {
		transition: all .25s .45s linear;
	}
	&.big {
		position: absolute;
		top: 0 !important;
		left: 0 !important;
		min-height: 100vh;
		min-width: 100vw;
		top: 0;
		transition: min-width .25s linear, min-height .25s .05s linear;
	}
	&.small {
		max-height: 68px;
		max-width: 300px;
		min-width: 300px;
		transition: max-height .25s linear, max-width .25s .35s  linear;
		.console__body {
			p, span {
				opacity: 0;
				transition: all .25s linear;
			}
		}
	}
	.console__header {
		background: $gray;
		color: $black;
		padding: 20px;
		border-radius: 5px 5px 0px 0px;
		.ui {
			&.ui--window {
				display: inline-block;
				margin: 0px;
				.action {
					display: inline-block;
					width: 15px;
					height: 15px;
					border-radius: 100%;
					&--close {
						background: $red;
					}
					&--min {
						background: $yellow;
					}
					&--max {
						background: $green;
					}
				}
			}
		}
	}
	.console__body {
		position: relative;
		padding: 20px;
		transition:  all .25s linear;
		-webkit-transition:  all .25s linear;
		border-radius: 0px 0px 5px 5px;
	}
}


.caret {
	display: inline-block;
	position: relative;
	animation: blink .25s ease-in-out infinite;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	&:after {
	  content: "";
	  position: absolute;
	  top: -25px;
	  right: -25px;
	  width: 20px;
	  height: 30px;
	  background: white;
	  z-index: 10;
	  box-shadow: -5px 0px 10px $black;
	}
	&:before {
	  content: "";
	  position: absolute;
	  top: 0;
	  right: -10px;
	  width: 10px;
	  height: 50px;
	  background: bkgd;
	  z-index: 10;
	}
}

//color helpers
.mint {
	color: $mint;
}

.magenta {
	color: $magenta;
	&:hover,
	&:focus {
		color: $magenta;
	}
}
.yellow {
	color: $yellow;
	&:hover,
	&:focus {
		color: $yellow;
	}
}
.gray-dark {
	color: $gray-dark;
	&:hover,
	&:focus {
		color: $gray-dark;
	}
}

.blue {
	color: $blue;
	&:hover,
	&:focus {
		color: $blue;
	}
}

@media only screen and (min-width: 100px) and (max-width: 500px) {
	#console {
		min-width: 85vw;
		max-width: 85vw;
	}
	p, span {
		font-size: .8em;
	}
}

@media only screen and (min-width: 1200px) {
	#console {
		min-width: 50vw;
		max-width: 50vw;
	}
}






// Our variables
$base-font-family: 'Source Code Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-mono: 'Source Code Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #fffffff;
$background-color: #000000;
$brand-color:      rgb(0, 0, 255);

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

//header variables
$header-height: 80px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.highlighter {
	background-color: yellow;
	padding: 3px 0px;
}
