# Jekyll
_site/
.jekyll-cache/

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
.npm
package-lock.json

# Mac OS
.DS_Store
**/.DS_Store

# Obsidian
_notes/.obsidian/
_notes/Public/.obsidian/

# Other
pages/tags.md
.DS_Store
