{%- comment -%}
{%- endcomment -%}

<footer class="footer">
    <div class="container">
        <div class="columns is-mobile is-vcentered">
            <!-- Copyright Column -->
            <div class="column is-half has-text-centered has-text-dark">
                {% if site.copyright.msg != nil and site.copyright.msg != empty and site.copyright.msg != null %}
                    <p>
                        {{ site.copyright.year }} • {{ site.copyright.msg }}
                        Workhorse Collective, LLC
                    </p>
                {% endif %}
            </div>

            <!-- Social Icons Column -->
            <div class="column is-half has-text-centered">
                <div class="buttons are-small is-centered">
                    <a class="button is-dark" href="https://www.are.na/abraham-garcia-flores" target="_blank">
                        <i class="fa fa-asterisk"></i>
                    </a>
                    <a class="button is-dark" href="https://twitter.com/thehonestape" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a class="button is-dark" href="https://www.instagram.com/thehonestape/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="button is-dark" href="https://www.linkedin.com/in/thehonestape/" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
