{% comment %}
Gallery that uses Frontmatter path
{% endcomment %}

{% assign gallery_path = include.path %}
{% assign featured_image = include.featured_image %}
</div>
</div>

</div>
</div>
<div class="container-fluid gallery">
<div class="columns is-multiline gallery mt-6">
  {% for file in site.static_files %}
    {% if file.path contains gallery_path %}
      {% assign file_ext = file.extname | downcase %}
      {% if file_ext == '.jpg' or file_ext == '.jpeg' or file_ext == '.png' or file_ext == '.gif' or file_ext == '.webp' %}
      <div class="column is-half-desktop is-half-tablet is-full-mobile">
             <figure class="image p-0 m-0">
         <a href="{{ file.path | relative_url }}" class="lightbox-image" data-gallery="post-gallery" data-no-swup>
           <img src="{{ file.path | relative_url }}" 
                class="has-ratio" 
                alt="{{ file.name | split: '.' | first }}" />
         </a>
       </figure>
      </div>
      {% endif %}
    {% endif %}
  {% endfor %}
</div>