 
<div id="featured-notes" class="container is-fluid">
    {% assign note_items = site.notes | sort : "date" | reverse %}
    {% for note_items in note_items %}
        {% if note_items.featured %}
           <article class="list-feed">
    <div class="columns is-variable">
        <div class="column is-5-widescreen is-6-desktop is-8-tablet is-12-mobile">
            <div class="article-content p-6 is-flex is-flex-direction-column" style="height: 100%;">
                <div class="tags">
                    {% for category in note_items.categories %}
                        <a href="{{ site.baseurl }}/categories/#{{ category | slugify }}" class="tag is-transparent is-rounded is-capitalized">{{ category }}</a>
                    {% endfor %}
                </div>
                <div class="writinglist-title">
                    <h3 class="is-size-3">{{note_items.title }}</h3>
                </div>
                <p class="mb-auto">{{ note_items.content | strip_html | strip | remove: "[[" | remove: "]]" | remove: "-" | escape | truncate: 200 }}</p>
                {%- if note_items.external_link -%}
                    <a href="{{ note_items.external_link }}" target="_blank" class="button is-outlined mt-4">Read More</a>
                {%- else -%}
                    <a href="{{ site.baseurl }}{{note_items.url}}" class="button is-outlined mt-4">Read More</a>
                {%- endif -%}
            </div>
        </div>
        <div class="column is-7-widescreen is-6-desktop is-8-tablet is-12-mobile">
            <figure class="image">
                {%- if note_items.external_link -%}
                    <a href="{{ note_items.external_link }}" target="_blank">
                {%- else -%}
                    <a href="{{ site.baseurl }}{{note_items.url}}">
                {%- endif -%}
                    {%- if note_items.featured-image -%}
                        <img src="{{- note_items.featured-image | relative_url -}}" alt="{{ note_items.title }}" class="blog-roll-image">
                    {%- else -%}
                        {%- assign postImage = "/assets/img/truth-wide.jpg" -%}
                        <img src="{{- postImage | relative_url -}}" alt="{{ note_items.title }}" class="blog-roll-image">
                    {%- endif -%}
                </a>
            </figure>
        </div>
    </div>
</article>
            {%-endif -%}
        {%- endfor -%}
   
    </div>

    <div class="container pt-6 mt-6 is-fluid home-feed">
        <div class="columns ">
            <div class="column is-12-widescreen  is-12-desktop is-12-tablet is-12-mobile">
                    <!--- Show Feed Part -->
                     <h4 class="title pt-0">Projects</h4>
                    {%- include Feed.html -%}
            </div>
            </div>
        </div>
    </div>

