<div id="featured-notes" class="container is-fluid">
    

    <div class="columns is-mobile is-centered">
  <div class="column is-11">
        <h4 class="is-4">Search Notes</h4>
       {%- if site.preferences.search.enabled -%}
        <!-- search bar -->
        <div class="block">
            <input class="input is-medium" type="text" placeholder="Search notes.." id="search-input" autocomplete="off">
            <div id="search-results" class="search-results"></div>
        </div>
        <script type="text/javascript" src="{{ site.baseurl }}/assets/js/vendor/lunr.min.js"></script>
        <script src="{{ site.baseurl }}/assets/js/Search.js"></script>
    {%- endif -%}
  </div>
</div>
 

    {% assign note_items = site.notes | sort: "date" | reverse %}
    {% for note_items in note_items %}
        {% if note_items.featured & note_items.category == "Design" %}
            <article class="list-feed">
                <div class="columns is-variable is-8">
                    <div class="column is-5-widescreen is-6-desktop is-8-tablet is-12-mobile">
                        <div class="p-responsive is-flex is-flex-direction-column is-justify-content-space-between" style="height: 100%;">
                            <div>
                                <div class="tags" style="margin-left:-10px;">
                                    {% for category in note_items.categories %}
                                        <a href="{{ site.baseurl }}/categories/#{{ category | slugify }}" class="tag mb-0 is-transparent is-rounded">{{ category }}</a>
                                    {% endfor %}
                                </div>
                                <h3 class="title is-size-4 pt-0 pb-0">
                                    {%- if note_items.external_link -%}
                                    <a href="{{ note_items.external_link }}" class="p-0" target="_blank">
                                    {%- else -%}
                                    <a href="{{ site.baseurl }}{{ note_items.url }}" class="p-0">
                                    {%- endif -%}
                                    {{ note_items.title }}
                                    </a>
                                </h3>
                                <h4 class="subtitle is-size-6 pt-0 mt-0">{{ note_items.date | date: "%Y" }}</h4>
                                <p class="mb-4">{{ note_items.content | strip_html | strip | remove: "[[" | remove: "]]" | remove: "-" | escape | truncate: 200 }}</p>
                            </div>
                            <div>
                                {%- if note_items.external_link -%}
                                    <a href="{{ note_items.external_link }}" target="_blank" class="button is-outlined"><span>Read More</span> <span class="icon"><i class="far fa-sm fa-external-link"></i></span></a>
                                {%- else -%}
                                    <a href="{{ site.baseurl }}{{ note_items.url }}" class="button is-outlined"><span>Read More</span> <span class="icon"><i class="far fa-sm fa-external-link"></i></span></a>
                                {%- endif -%}
                            </div>
                        </div>
                    </div>
                    <div class="column is-7-widescreen is-6-desktop is-8-tablet is-12-mobile">
                        <figure class="image">
                            {%- if note_items.external_link -%}
                                <a href="{{ note_items.external_link }}" target="_blank">
                            {%- else -%}
                                <a href="{{ site.baseurl }}{{ note_items.url }}">
                            {%- endif -%}
                                {%- if note_items.featured-image -%}
                                    <img src="{{ note_items.featured-image | relative_url }}" alt="{{ note_items.title }}" class="blog-roll-image">
                                {%- else -%}
                                    <img src="{{ '/assets/img/truth-wide.jpg' | relative_url }}" alt="{{ note_items.title }}" class="blog-roll-image">
                                {%- endif -%}
                            </a>
                        </figure>
                    </div>
                </div>
            </article>
        {% endif %}
    {% endfor %}
</div>

<div class="container pt-5 is-fluid home-feed">
    <div class="columns">
        <div class="column is-12">
            <!--- Show Feed Part -->
            <h4 class="title pt-0">Projects</h4>
            {%- include Feed.html -%}
        </div>
    </div>
</div>
