<div class="column is-8-desktop is-centered">
<h1 style="display:none;">
            <strong>The words and images of Abraham Garcia Flores.</h1></strong>
<h2>Hey, I'm Abraham, an interdisciplinary designer and the co-founder of <a href="http://wrkhrs.co" target="_blank">Workhorse</a>, a branding consultancy that collaborates with experts and institutions to find new ways to discover, define, design, and develop meaningful experiences, identities, and products. </h2>

<figure class="image mt-0 mt-5 ">
    <img class="is-rounded " src="{{ '/assets/img/logo-chrome.png' | relative_url }}">
</figure>
</div>

<div class="column is-8-desktop is-centered">
    <h1>
Design for Meaning, Creating Identities, and Shaping Worlds. The words and images of Abraham Garcia Flores.</h1>

<div class="social-links pt-5">

 

            <a class="button is-primary"  href="mailto:abe@wrkhrs.co" target="_blank">
                <span class="icon is-small">
                    <i class="fa-thin fa-envelope"></i>
                </span>
                <span>Get in Touch</span>
            </a>
        </div>

</div>
