<h2 class="pt-0"><strong>Design for Meaning: Creating Identities and Shaping Worlds.</strong> The words and images of Abraham Garcia Flores.</h2>

<h4>I am in interdiscipinary designer that helps humans understand and share complex ideas, emotions, and experiences. I collaborate with experts and eccentrics to find new ways for humans to discover, define, design, and develop meaning.</h4>

<div class="social-links pt-0">
    <div class="field has-addons">
        <p class="control">
            <a class="button is-primary"  href="mailto:abe@wrkhrs.co" target="_blank">
                <span class="icon is-small">
                    <i class="fa-thin fa-envelope"></i>
                </span>
                <span>Get in Touch</span>
            </a>
        </p>
        <p class="control">
            <a href="https://wrkhrs.co" class="button">
                <span>Learn More</span>
            </a>
        </p>
    </div>
</div>