<div class="container p-0 is-fluid"> 
    <div class="columns is-flex-desktop mt-5 mb-5">
        <div class="column p-0 is-half-desktop is-full-mobile">
            {%- if page.permalink == "/about" -%}
                <figure class="image hero-image m-0">
                    <img src="{{ '/assets/img/abe-portrait.jpg' | relative_url }}">
                </figure>
            {%- else -%}
                <figure class="image hero-image m-0">
                    <img src="{{ '/assets/img/abe-gold.jpg' | relative_url }}">
                </figure>

            {%- endif -%}
        </div>
        <div class="column p-responsive has-background-yellow has-text-black is-half-desktop is-full-mobile is-flex is-flex-direction-column is-justify-content-space-between">
            <div class="content is-small is-justify-content-start">
                <h1 class="is-size-5 p-0">Abraham Garcia </h1>
                <h2 class="is-size-5 pt-0">Designer & Creative Technologist</h2>
            </div>   
            <div id="terminal" class="is-flex is-align-items-center mb-6">
                <div class="terminal-wrapper">
                    <div class="terminal__header tx-2">
                        <ul class="content ui ui--window">
                            <li class="action action--close"></li>
                            <li class="action action--min"></li>
                            <li class="action action--max"></li>
                        </ul>
                        <span>Abraham Garcia | Designer & Creative Technologist</span>
                    </div>
                    <div class="terminal__body">
                        <h4></h4>
                    </div>
                </div>
            </div>
            <div class="content is-small is-justify-content-end">
            <div class="buttons are-small">
                        <a class="button is-responsive is-dark" href="@wrkhrsco" target="_blank">
                        @wrkhrs.co
                        </a>
                        <a class="button is-responsive is-dark" href="mailto:abe@wrkhrs.co" target="_blank">
                            <i class="fa fa-envelope"></i>
                        </a>
                        <a class="button is-responsive is-dark" href="https://www.are.na/abraham-garcia-flores" target="_blank">
                            <i class="fa fa-asterisk"></i>
                        </a>
                        <a class="button is-responsive is-dark" href="https://www.linkedin.com/in/thehonestape/" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
            </div>
        </div>
    </div>
</div>
