<div class="container">
    <div class="navbar-brand">
        <a class="navbar-item pl-0 ml-0" href="{{ site.baseurl }}/index.html">
            {%- include logo.svg -%}
        </a>

        <div class="navbar-item navbar-dark-mode__mobile is-hidden-tablet" onclick="modeSwitcher()">
            <div class="buttons">
                <a class="button is-text">
                    <span class="icon is-small">
                        <img id="theme-toggle-img--mobile" src="{{ '/assets/img/sun.svg' | relative_url }}">
                    </span>
                </a>
            </div>
        </div>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="main-nav">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="main-nav" class="navbar-menu">
        <div class="navbar-start">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">Notes</a>

                    <a class="navbar-item" href="{{ '/note/categories' | relative_url }}">Design</a>
                    <a class="navbar-item" href="{{ '/note/categories' | relative_url }}">Writing</a>
                    <a class="navbar-item" href="{{ '/notes' | relative_url }}">All Notes</a>
            </div>

            <a class="navbar-item" href="{{ '/about' | relative_url }}">About</a>
        </div>

        <div class="navbar-end is-hidden-mobile" onclick="modeSwitcher()">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-text">
                        <span class="icon is-small">
                            <img id="theme-toggle-img" src="{{ '/assets/img/sun.svg' | relative_url }}">
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>